---
title: Home
description: World Seller is a game about leveling up your skills and taking over the world!
image: images/splash-dark.png
bottom_image: images/splash-dark.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Enter a new world</h1>
			<p class="subtext editable">World Seller is a game about leveling up your skills and taking over the world!</p>
			<div class="cta button alt"><a href="https://play.worldsellergame.com">Play Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">14+ Tradeskills</h2>
				<p class="editable">Explore an interconnected web of tradeskills, each with their own impact on the game. Utilize a semi-realistic set of tools to create explosives, equipment, and tongue piercings!</p>
			</div>
			<div class="image">
				<img class="editable" src="https://i.imgur.com/nDqK7mV.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Beat up goblins</h2>
				<p class="editable">Explore hand-crafted dungeons and try to work out the optimal way to get conquer them. There are plenty of disposable goblins in your path.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://i.imgur.com/3NIqNhI.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Sell the world, and more</h2>
				<p class="editable">Upgrade your shop, and sell every item you come across for some coin.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://i.imgur.com/EFY5O9m.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Get started today</h2>
				<p class="subtext editable">It's free and fun.</p>
				<div class="cta button alt"><a href="https://play.worldsellergame.com">Play Now</a></div>

				<iframe frameborder="0" src="https://itch.io/embed/1943346?bg_color=222428&fg_color=ffffff&link_color=608500&border_color=2f65fc" width="552" height="167"><a href="https://seiyria.itch.io/world-seller">World Seller by seiyria</a></iframe>

			</div>
		</div>
	</section>
</div>
